@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;

}

nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    align-items: center;
    padding: 16px 24px;
}

img{
    height:auto;
}

.header__img{
    width:50px;
    height:50px ;
    padding: 0 12px 0 0;
}

ul{
    display: flex;
    align-items: center;
}

li{
    margin: 0 24px;
    list-style-type: none;
    
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__h1{
    font-size: 26px;
    font-weight:900;
    font-style: bold;
    color: rgb(43, 58, 96);

}

.nav__h1:hover{
    color: #6315ff;
    cursor:pointer;
    animation-delay: all 300ms;
}

a{
    text-decoration: none;
    color:rgb(43, 58, 96, 0.9);
    font-weight: 700 ;

}

a:hover{
    text-decoration: underline;
    color: #6315ff;
}

button{
    border-radius: 20px ;
    border:none;
    padding:12px 32px;
    background-color:rgb(99, 21, 255);
    color:white;
    font-weight: 700;
    font-size: 0.875rem
}

button:hover{
    background-color:rgb(56, 0, 168) ;
    cursor: pointer;
}

.container__login{
    display: flex;
    align-items: center;
    margin-left: 24px;
}


.purple{
    color:rgb(99, 21, 255) ;
}

#enter__email{
    border-radius: 20px;
    border:2px solid rgb(232, 232, 232);
    padding:12px 32px; 
}

#enter__email:hover{
    border:2px solid rgb(201, 201, 201);
}

.landing__image{
    width: 100%;
    min-width: 0px;
    max-width: 42rem;
}
    

.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
}

.header__description{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    text-align: center;
    padding: 24px;
    
    
}

h1{
    font-weight: 700;
    line-height: 1.4;
    font-size: 42px;
    width: 450px;
    max-width: 100%;
    text-align: left;
    color: rgb(26, 32, 4,);
}

.header__para{
    margin:32px 0;
    text-align: left;
    color: rgb(109, 109, 109);
}

.header{
    display: flex;
    justify-content: center;
}

.landing__img{
    margin-left: 92px;
}

.trusted__customers{
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.trustedcustomers{
    margin-top:80px;
    text-align: left;
    opacity: 0.5;
    font-weight: 700;
}

