@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Inter', sans-serif;

}

nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    align-items: center;
    padding: 16px 24px;
}

img{
    height:auto;
}

.header__img{
    width:50px;
    height:50px ;
    padding: 0 12px 0 0;
}

ul{
    display: flex;
    align-items: center;
}

li{
    margin: 0 24px;
    list-style-type: none;
    
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__h1{
    font-size: 26px;
    font-weight:900;
    font-style: bold;
    color: rgb(43, 58, 96);

}

.nav__h1:hover{
    color: #6315ff;
    cursor:pointer;
    transition-delay: all 300ms;
}   

a{
    text-decoration: none;
    color:rgb(43, 58, 96, 0.9);
    font-weight: 700 ;

}

a:hover{
    text-decoration: underline;
    color: #6315ff;
}

button , .contact__btn , contact__btn--1{
    border-radius: 30px ;
    border:none;
    padding:12px 32px;
    background-color:rgb(99, 21, 255);
    color:white;
    font-weight: 700;
    font-size: 0.875rem
}

button:hover{
    background-color:rgb(56, 0, 168) ;
    cursor: pointer;
}

.container__login{
    display: flex;
    align-items: center;
    margin-left: 24px;
}


.purple{
    color:rgb(99, 21, 255) ;
}

#enter__email{
    border-radius: 30px;
    border:2px solid rgb(232, 232, 232);
    padding:20px 192px 20px 32px;
}

#enter__email:hover{
    border:2px solid rgb(201, 201, 201);
}

.btn{
    padding:16px 30px;
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1;
    margin-left: 15rem;
}

.landing__image{
    width: 100%;
    min-width: 0px;
    max-width: 42rem;
}
    

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
}

.header__description{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    text-align: center;
    padding: 24px;
    
    
}

h1{
    font-weight: 900;
    line-height: 1.4;
    font-size: 42px;
    width: 450px;
    max-width: 100%;
    text-align: left;
    color:rgb(26, 32, 44);
}

.header__para{
    margin:32px 0;
    text-align: left;
    color: rgb(109, 109, 109);
    font-size: 16px;
    line-height:1.4;
}

.header{
    display: flex;
    justify-content: center;
}

.landing__img{
    margin-left: 92px;
}

.trusted__customers{
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
}

.trustedcustomers{
    margin-top:80px;
    text-align: left;
    opacity: 0.7;
    font-weight: 700;
}

.trusted__para{
    font-size: 12px;
    color: rgb(160, 174, 192);
}

.input__button{
    display: flex;
}

/* FEATURES */

.features{
    margin:96px 0px;
}

h5{
    color: rgb(99, 21, 255);
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.features__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.features__h1 .designed__h1{
    max-width: 100% ;
    width: 1200px;
    
    font-weight: 900;
    opacity: 0.85;
    font-size: 48px;
}

.features__h1{
    text-align: center;
    width: 1200px;
}

.features__para , .designed__para{
    margin:16px 0;
    
    color: rgb(109, 109, 109 , 0.8);
    font-size: 16px;
    line-height:1.4;
    font-weight: 500;
    font-size: 18px;
    
}

.features__para{
    text-align: center;
    max-width: 100%;
    width: 550px;
}

.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 0 ;
}


.features__column{
    margin-top: 52px;
    padding:0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 1300px;
}

.features__item{
    display: flex;
    margin: 14px;
}

.description{
    margin: 8px 0 0 16px;
    width: 250px;
}

.features__description{
    margin-top: 16px;
}


.features__img{
    width: 60px;
    height:60px;
    border: 2px solid lightgray;
    border-radius: 100%;
    border-width: 1px;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__icon{
    align-self: center;
}

.features__title{
    opacity: 0.85; 
}

.features__description{
    color: rgb(109, 109, 109 , 0.8);
    font-weight: 600;
    line-height: 1.8;
}

/* QUALITY WORK     */

.quality__img{
    max-width: 100%;
    height: auto;
    width: 550px;
}

.designed__section{
    display: flex;
    justify-content: space-around;
    padding: 96px 16px;
    justify-content: center;
    
    
}

.designed{
    margin: 96px 0;
}


.designed__texts{
    max-width: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.designed__h1{
    text-align: left;
}

.designed__para{
    text-align: left;
    width: 80%;
    margin-bottom: 32px;
}

/* CONTACT */


#contact{
    display: flex;
    justify-content: center;
    padding: 96px 0;
}

.contact__bg{
    background-color: rgb(99, 21, 255);
    
    max-width: 90%;
    position: relative;
    height: 30%;
    border: 2px solid rgb(99, 21, 255) ;
    border-radius: 10px;
    padding: 96px 0;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}

.contact__h2{
    font-weight: 700;
    font-size: 30px;
    color: white;
    line-height: 35px;
    
}

.contact__text{
    width: 50%;
}

.contact__btn{
    border: 2px solid white;
}

.contact__btn--1{
    background-color:red;
    border: 2px solid red;
}